/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center; /* Alinha o texto ao centro */
}

a:hover {
    background-color: #0056b3;
    color: #d4b817;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden; /* Evita que o conteúdo vaze para fora do container */
    text-align: center; /* Alinha o texto ao centro */
}

p {
    text-align: center;
}

h1 {
    margin: 0;
    text-align: center; /* Alinha o texto ao centro */
}

nav {
    text-align: center; /* Alinha o texto ao centro */
    float: center; /* Alinha o menu à direita */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block; /* Alinha os itens do menu na mesma linha */
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0; /* Remove a margem à esquerda do primeiro item */
}

/* Estilos para o formulário de login */
.login {
    float: center; /* Alinha o formulário de login à direita */
    margin-top: 10px;
}

.login form input[type="text"],
.login form input[type="password"],
.login form button {
    margin-left: 5px;
    height: 30px;
    
}

.login form button {
    height: 35px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /*font-family: 'Times New Roman', sans-serif;*/
}

.login form button:hover {
    background-color: #0056b3;
    color: #d4b817;
}

.gallery {
    display: flex;
    overflow: hidden;
    width: 100%;
}
  
.gallery img {
    width: auto;
    max-width: 100%; /* Define a largura máxima como 100% da largura do contêiner */
    height: auto;
    margin-right: 5px;
}

#slideshow {
    display: flex;
    justify-content: space-between; /* Distribui as imagens uniformemente */
}

#slideshow img {
    max-width: 45%; /* Define a largura máxima para as imagens */
    height: auto; /* Mantém a proporção da imagem */
}

#slideshow2 {
    display: flex;
    justify-content: space-between; /* Distribui as imagens uniformemente */
}

#slideshow2 img {
    max-width: 45%; /* Define a largura máxima para as imagens */
    height: auto; /* Mantém a proporção da imagem */
}